@{
    ViewData["Title"]="Tasks";
    
}
@Model List<TaskModel>
    <div>


<h1>
    @ViewData["Title"]
</h1>
</br>
<table class="table">
    <thead>
    <tr>
        <th>
            Task Id
        </th>
        <th>
            Title
        </th>
        <th>
            Creation Date
        </th>
         <th>
            Due Date
        </th>
        <th>
            Status
        </th>
    </tr>
    </thead>
    <tbody>
        @{
            foreach(var task in Model){
                <tr>
                    <td>
                        @task.TaskId
                    </td>
                     <td>
                        @task.TaskTitle
                    </td>
                    <td>
                        @task.TaskCreationDate
                    </td>
                     <td>
                        @task.TaskDueDate
                    </td>
                    <td>
                        @task.TaskStatus
                    </td>
                    <td>
                        <a asp-controller="Home" asp-action="Create" asp-route-id="@task.TaskId">Edit</a>
                        <a asp-controller="Home" asp-action="Detete" asp-route-id="@task.TaskId">Delete</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
    <a asp-controller="Home" asp-action="Create" class="btn btn-primary">Create Task</a>
  </div>
  </div>